{%extends 'base.html'%}
{% block content %}
{{block.super}}
<div class="container-fluid" style="margin-top:60px;">
  <!--looping through displays-->
  {% for display_item in images %}
<div class="row">
  <!-- displayin all images -->
  <div class="col-md-3 col-md-3 col-md-3 col-md-3">
    <img src="{{display_item.image.url}}" class="img-responsive" alt="image">
  </div>
  {% empty %}
  <div class="row">
    <h1 class="text-center text-info">There No Display Items</h1>
  </div>
  {% endfor %}
</div>

{% endblock %}
